.govuk-button--nikos {
  font-family: nta, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.1875;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 0;
  margin-bottom: 22px;
  padding-left: 33px;
  padding: 7px 10px;
  border: 2px solid transparent;
  border-radius: 0;
  color: #fff;
  background-color: #1d70b8;
  box-shadow: 0 2px 0 #003618;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  -webkit-appearance: none
}

@media print {
  .govuk-button--nikos {
      font-family: sans-serif
  }
}

@media (min-width:40.0625em) {
  .govuk-button--nikos {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1
  }
}

@media print {
  .govuk-button--nikos {
      font-size: 14pt;
      line-height: 19px
  }
}

.govuk-button--nikos:focus {
  outline: 3px solid #ffbf47;
  outline-offset: 0
}

@media (min-width:40.0625em) {
  .govuk-button--nikos {
      margin-bottom: 32px;
      width: auto
  }
}

.govuk-button--nikos:active,
.govuk-button--nikos:hover,
.govuk-button--nikos:link,
.govuk-button--nikos:visited {
  color: #fff;
  background-color: #1d70b8;
  text-decoration: none;
}

.govuk-button::-moz-focus-inner {
  padding: 0;
  border: 0
}

.govuk-button--nikos:focus,
.govuk-button--nikos:hover {
  background-color: #003078;
}

.govuk-button--nikos:active {
  top: 2px;
  box-shadow: none
}

.govuk-button--nikos:before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -4px;
  left: -2px;
  background-color: #003078;
  background: transparent
}

.govuk-button--nikos:active:before {
  top: -4px
}
